# IDEs; because WebStorm...
.idea

# Serverless
.build
.serverless

# Node
node_modules
jspm_packages

# Dist
app
api

# Env
env/.env.local
env/.env.development
env/.env.production

# Caches & Storage
.awcache
pgadmin/config/*
!pgadmin/config/.gitkeep
pgadmin/storage/*
!pgadmin/storage/.gitkeep