# IDEs; because WebStorm...
.idea

# Serverless
.build
.serverless

# Node
node_modules
jspm_packages

# Dist
public
/api

# Env
env/.env.local
env/.env.development
env/.env.production

# pgadmin
pgadmin/config/*
!pgadmin/config/.gitkeep
pgadmin/storage/*
!pgadmin/storage/.gitkeep