# IDEs; because WebStorm...
.idea

# Serverless
.build
.serverless

# Node
node_modules
jspm_packages

# Dist
public
/api

# Env
.env.local
.env.development
.env.production

# pgadmin Configs
db/pgadmin/config/*
!db/pgadmin/config/.gitkeep
db/pgadmin/storage/*
!db/pgadmin/storage/.gitkeep