@import '~normalize.css/normalize';
@import './mixins/form-reset';

html,
body {
  height: 100%;
}

input {
  @extend %form-reset-input;
}

label {
  @extend %form-reset-label;
}

select {
  @extend %form-reset-select;
}

button {
  @extend %form-reset-button;
}

textarea {
  @extend %form-reset-textarea;
}

.with-tools {
  input {
    margin: 0;
    padding: 0;

    line-height: 1;
  }
  i {
    display: none;
    margin-left: 0.5em;
    font-size: 0.75em;
    opacity: 0.5;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
  &:hover {
    i {
      display: inline;
    }
  }
}
