<!DOCTYPE html>
<html>
<head>
    <title>Gravity Boilerplate by Jonny Asmar</title>
    <link href="/index.css?v={{ version }}" rel="stylesheet" type="text/css">
</head>

<body>
<script src="/common.js?v={{ version }}"></script>
<script src="/index.js?v={{ version }}"></script>
</body>

</html>