{% spaceless %}

    {% set vars = htmlWebpackPlugin.options %}

    <!DOCTYPE html>

    <html lang="en">

    <head>
        <meta name="theme-color" content="#ffffff">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=1">

        <title>{{ vars.title }}</title>

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    </head>

    <body>
        <div>Welcome to Gravity Boilerplate!</div>
        <noscript>Please enable JavaScript.</noscript>
        <script src="{{ vars.api }}/user/ip"></script>
    </body>

    </html>

{% endspaceless %}